@import "../../../../_sass/variables";

.digas-popup-container {
  position: absolute;
  top: 80px;
  right: 15px;
  left: 15px;
  max-height: calc(100vh - 100px);
  overflow: auto;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  @include transform(translateX(0));
  @include transition(all .2s ease-out);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .5);

  .header {
    padding: 10px 20px;

    > h3 {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgb(102, 102, 102);

      &.warning {
        color: rgb(255, 51, 51);
      }
    }
  }

  a.list-element {
    &:nth-child(odd) {
      > div {
        background-color: rgba(0, 128, 255, .1);
      }
    }
  }

  @media screen and (min-width: $break-point-xs) {
    top: 120px;
    right: 80px;
    left: 80px;
  }
  @media screen and (min-width: $break-point-md) {
    right: auto;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    max-height: 600px;
  }
}

.digas-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(darken($baseColor, 25%), .5);
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}