@import "../../_sass/variables.scss";

.digas-view-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  @include transform(translateX(0));
  @include transition(all .2s ease-out);

  .ol-zoom, .search-control {
    @include transition(all .2s ease-out);

    > button {
      cursor: pointer;
    }
  }

  .ol-scale-line {
    right: 155px;
    left: auto;
    bottom: 2px;
    background: rgba(darken($baseColor, 10%), .6);
  }

  .ol-attribution {
    ul, ul li a {
      color: #999;
    }
  }

  &.background {
    .ol-zoom, .search-control {
      @media screen and (max-width: $break-point-xs) {
        display: none;
      }

      @media screen and (min-width: $break-point-xs) and (max-width: $break-point-md) {
        left: 460px;
      }

      @media screen and (min-width: $break-point-md) and (max-width: $break-point-lg) {
        left: 34%;
      }

      @media screen and (min-width: $break-point-lg) {
        left: 25.5%;
      }
    }
  }
}

@media screen and (min-width: $break-point-md) and (max-width: $break-point-lg) {
  .digas-view-map {
    left: 33%;
  }
}

@media screen and (min-width: $break-point-lg) {
  .digas-view-map {
    left: 25%;
  }
}
