@import "../../_sass/variables.scss";

.digas-sidebar-toggle {
  width: 35px;
  height: 35px;
  padding: 5px;
  background: hsla(0, 0%, 100%, .9);
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, .2);
  display: block;
  position: absolute;
  bottom: 50%;
  cursor: pointer;
  @include transform(translateX(0));
  @include transition(all .2s ease-out);

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -8px 0 0 -8px;
    border: solid $baseColor;
    border-width: 0 0 6px 6px;
    content: " ";
    @include transform(rotate(45deg));
    @include transition(all .2s ease-out);
  }

  .digas-badge {
    position: absolute;
    top: -5px;
    left: 32px;
    height: 12px;
    padding: 4px;
    min-height: 20px;
    min-width: 20px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    background: $baseColor;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-sizing: border-box;
  }

  &.toggle-out {
    left: 0;

    &:before {
      margin-left: -14px;
      @include transform(rotate(-135deg));
    }
  }

  &.toggle-in {
    left: 85%;
  }
}

@media screen and (min-width: $break-point-xs) and (max-width: $break-point-md) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }

    &.toggle-in {
      left: 450px;
    }
  }
}

@media screen and (min-width: $break-point-md) and (max-width: $break-point-lg) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }

    &.toggle-in {
      left: 33%;
      display: none;
    }
  }
}

@media screen and (min-width: $break-point-lg) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }

    &.toggle-in {
      left: 25%;
      display: none;
    }
  ;
  }
}
