@import "../../_sass/variables.scss";

.digas-sidebar-toggle {
  width: 50px;
  height: 50px;
  padding: 5px;
  background: hsla(0,0%,100%,.95);
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,.2);
  display: block;
  position: absolute;
  bottom: 50%;
  cursor: pointer;
  @include transform(translateX(0));
  @include transition(all .2s ease-out);

  .digas-badge {
    position: absolute;
    top: 2px;
    left: 34px;
    min-width: 16px;
    height: 12px;
    padding: 2px 3px 2px 4px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
    background: transparent;
    color: black;
  }
}

@media screen and (max-width: $break-point-xs) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }
    &.toggle-in {
      top: 5px;
      right: 10px;
    }
  }
}

@media screen and (min-width: $break-point-xs) and (max-width: $break-point-md) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }
    &.toggle-in {
      left: 450px;
    }
  }
}

@media screen and (min-width: $break-point-md) and (max-width: $break-point-lg) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }
    &.toggle-in {
      left: 33%;
      display: none;
    }
  }
}

@media screen and (min-width: $break-point-lg) {
  .digas-sidebar-toggle {
    &.toggle-out {
      left: 0;
    }
    &.toggle-in {
      left: 25%;
      display: none;
    };
  }
}
