@import "../../_sass/variables.scss";

.digas-view-sidebar {
  position: absolute;
  top: 65px;
  bottom: 25px;
  left: 0;
  right: 30px;
  display: block;
  overflow: hidden;
  @include transform(translateX(0));
  @include transition(all .2s ease-out);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

  &.toggle-out {
    @include transform(translateX(-100%));
  }

  .sidebar-inner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .search-feedback {
      padding: 10px 20px;

      > p {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(102, 102, 102);

        &.warning {
          color: rgb(255, 51, 51);
        }
      }
    }
  }

  .sidebar-header {
    height: auto;
    width: 100%;
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content: space-between;

    > div {
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex-basis: 400px;

      > p {
        text-align: left;
      }
    }

    .controls {
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 5px 10px;


      .digas-control {
        margin: 0 3px;
        cursor: pointer;
        width: 35px;
        height: 35px;

        svg {
          fill: $baseColor;
        }

        &.order-list, &.only-maps, &.only-public-docs, &.toggle-fulltextsearch {
          opacity: .5;

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  .sidebar-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include transition();

        &:nth-child(odd) {
          background-color: rgba($baseColor, .1);
        }

        &:hover {
          background-color: rgba(0, 128, 255, .2);
        }

        &.focus {
          background-color: rgba(0, 128, 255, .3);

          &:hover {
            background-color: rgba(0, 128, 255, .4);
          }
        }
      }
    }
  }

  .sidebar-footer {
    display: none;
  }

  @media screen and (max-width: $break-point-xs) {
    &.toggle-in {
      width: 85%;
    }
    .sidebar-header .controls {
      .digas-control {
        &.print-list,
        &.export-list {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: $break-point-xs) and (max-width: $break-point-md) {
    width: 450px;
    .sidebar-header {
      display: block;
    }
  }

  @media screen and (min-width: $break-point-md) {
    top: 0;
    bottom: 0;
    width: 33%;
    padding: 70px 0 24px 0;
    .sidebar-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding: 5px 20px;
      font-size: 12px;
      color: rgb(68, 68, 68);
      background: rgb(204, 204, 204);
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

    }
  }

  @media screen and (min-width: $break-point-lg) {
    width: 25%;
  }
}