@import "../_sass/variables.scss";

.digas-root {
  display: block;
  //position: absolute;
  //top: 12px;
  //right: 0;
  //bottom: 12px;
  //left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  //overflow: hidden;
  pointer-events: all;
}