@import "../_sass/variables.scss";

body {
  margin: 0;
}

.digas-root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
  pointer-events: all;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}